<div class="form-group">
  <label for="notify-name">Название</label>
  <Input type="text" class="form-control" id="notify-name" @value={{@notifyNew.name}} />
</div>

<div class="form-group">
  <label for="notify-text">Содержание</label>
  <Textarea type="text" class="form-control notify-text" id="notify-text" @value={{@notifyNew.text}} />
</div>

<div class="form-group">
  <label for="periodic-select">Периодичность</label>
  <select class="form-control" id="periodic-select" onchange={{action 'onChangePeriodic' value="target.value"}}>
    <option>Выберите периодичность</option>
      {{#each PERIODIC_SELECT as |periodic|}}
        <option value={{periodic.value}} selected={{if (eq this.args.notifyNew.periodic periodic.value) 'selected'}}>
          {{periodic.title}}
        </option>
      {{/each}}
  </select>
</div>

{{#if (eq @notifyNew.periodic "day_of_week")}}
  <div class="form-group">
    <label for="weekday-select">День недели</label>
    <select class="form-control" id="weekday-select" onchange={{action 'onChangeWeekDay' value="target.value"}}>
      <option>Выберите день недели</option>
      {{#each WEEK_SELECT as |dayOfWeek|}}
        <option value={{dayOfWeek.value}} selected={{if (eq this.args.notifyNew.dayOfWeek dayOfWeek.value) 'selected'}}>
          {{dayOfWeek.title}}
        </option>
      {{/each}}
    </select>
  </div>
{{/if}}


<div class="form-group half-container d-flex flex-column">
  <label>Время: </label>
  <EmberFlatpickr class="datetime-custom" @date={{this.time}} @dateFormat="H:i:s" @enableTime={{true}}
    @noCalendar={{true}} @time_24hr={{true}} @onChange={{this.onSelectTime}} @onReady={{this.onTimeReady}} />
</div>

<div class="form-group">
  <Form::MultiSelectList
    @value={{@notifyNew.acceptorsList}}
    @modelName="acceptor"
    @label="Получатели"/>
</div>

<div class="d-flex justify-content-center">
  <button type="button" class="btn btn-secondary btn-complete" onclick={{action this.args.onCancel}}>
    Отменить
  </button>
  <button type="button" class="btn btn-primary btn-complete" onclick={{action onComplete}}>
    Сохранить
  </button>
</div>