<form class="custom-form">
  <div class="form-container">
    <h1 class="header-text">Создать новое уведомление</h1>

    <div class="form-group d-flex justify-content-center">
      <button type="button"
              class="btn btn-switch {{if periodic 'btn-warning' 'btn-outline-warning'}} btn-lg"
              onclick={{action onPeriodic}}>
        Периодическое
      </button>
      <button type="button"
              class="btn btn-switch {{unless periodic 'btn-warning' 'btn-outline-warning'}} btn-lg"
              onclick={{action onSingle}}>
        Разовое
      </button>
    </div>

    {{#if periodic}}
      <New::Periodic @notifyNew={{notifyNew}} @onComplete={{action @onComplete}}/>
    {{else}}
      <New::Once @notifyNew={{notifyNew}} @onComplete={{action @onComplete}}/>
    {{/if}}

  </div>
</form>