<form class="custom-form">
  <div class="form-container">
    <h1 class="header-text">Создать новое уведомление</h1>
    <div class="form-group">
      <label for="name">Название</label>
      <input type="text" class="form-control" id="name">
    </div>

    <div class="form-group d-flex justify-content-center">
      <button type="button"
              class="btn btn-switch {{if periodic 'btn-warning' 'btn-outline-warning'}} btn-lg"
              onclick={{action onPeriodic}}>
        Периодическое
      </button>
      <button type="button"
              class="btn btn-switch {{unless periodic 'btn-warning' 'btn-outline-warning'}} btn-lg"
              onclick={{action onSingle}}>
        Разовое
      </button>
    </div>

    {{#if periodic}}
      Форма для создания периодического уведомления
    {{else}}
      <div class="form-group d-flex justify-content-between">
        <div>
        <label>День: </label>
          <EmberFlatpickr
                  @date={{this.date}}
                  @dateFormat="d.m.Y"
                  @onChange={{this.onSelectDate}}
                  @prevArrow="<"
                  @nextArrow=">"
                  @onReady={{this.onDateReady}}/>
        </div>

        <div>
          <label>Время: </label>
          <EmberFlatpickr
                  @date={{this.date}}
                  @dateFormat="H:i:s"
                  @enableTime={{true}}
                  @noCalendar={{true}}
                  @time_24hr={{true}}
                  @onChange={{this.onSelectTime}}
                  @onReady={{this.onTimeReady}}/>
        </div>
      </div>
    <div class="form-group">
      <label for="name">Получатели</label>
      <input type="text" class="form-control" id="acceptors">
    </div>
    {{/if}}

    <button class="btn btn-primary">Сохранить</button>
  </div>
</form>