<div class="form-group d-flex justify-content-center table-responsive">
  <table class="rwd-table">
    <tr>
      <th>#</th>
      <th>Тип</th>
      <th>Название</th>
      <th>Аккаунт</th>
      <th></th>
    </tr>
      {{#each @model as | item|}}
        {{#unless  item.isDeleted}}
          <tr>
            <th data-th="# ">{{item.id}}</th>
            <td data-th="Тип: " style="width: 10%;"><Utils::FancyType @type={{item.type}}/></td>
            <td data-th="Название: " style="width: 50%;">{{item.name}}</td>
            <td data-th="Аккаунт: " style="width: 50%;">{{item.account}}</td>
            <td data-th="">
              <div class="buttons-bar justify-content-around">
                {{#if (eq item.status "1")}}
                  <div class="btn btn-outline-success btn-icon without-border" {{action 'onChangeStatus' item}}><FaIcon @icon="bell"/></div>
                {{else}}
                  <div class="btn btn-outline-secondary btn-icon without-border" {{action 'onChangeStatus' item}}><FaIcon @icon="bell-slash"/></div>
                {{/if}}
              <div class="btn btn-outline-primary btn-icon without-border" {{action this.args.onEdit item bubbles=false}}><FaIcon @icon="pencil-alt"/></div>
              <div class="btn btn-outline-danger btn-icon without-border" {{action 'onDeleteWindow' item}}><FaIcon @icon="trash"/></div>
            </div>
            </td>
          </tr>
        {{/unless}}
      {{/each}}
  </table>
</div>

{{#if isShowingModal}}
  {{#modal-dialog
        translucentOverlay=true}}
        <div class="header">Удалить получателя #{{itemForDelete.id}}?</div>
        <div class="body">
          <table>
            <tr>
              <td>Название:</td>
              <td>{{itemForDelete.name}}</td>
            </tr>
            <tr>
              <td>Аккаунт:</td>
              <td>{{itemForDelete.account}}</td>
            </tr>
          </table>
        </div>
        <div class="buttons-bar">
          <div class="btn btn-outline-secondary" {{action 'onClose'}}>Отмена</div>
          <div class="btn btn-outline-danger" {{action 'onDelete'}}>Подтвердить</div>
        </div>
  {{/modal-dialog}}
{{/if}}
