<div class="view-wrapper">
  <div class="view-component">
    <div class="left-side-section">
      <div class="menu-logo">
        <span class="nav-name">
          Notifier
        </span>
        <div class="burger" {{action 'onPressBurger'}}>
          <span></span>
        </div>
      </div>
      <div class="menu-wrapper" style={{{style}}}>
          <Entity::Settings::MenuList
            @maxlistHeight={{maxlistHeight}}
            @onSelect={{action 'onSelect'}}
          />
          <div class="menu-special">
            <div class="button" {{action 'onPressBack'}}>назад</div>
          </div>
      </div>
    </div>

    <div class="right-side-section">
      <div class="main-line-stub"/>
      <div class="sub-component" style={{{subComponentHeight}}}>
        {{#if (eq modelName 'user')}}
          <Entity::User/>
        {{/if}}

        {{#if (eq modelName 'acceptor')}}
          <Entity::Acceptor::List
            @model={{model}}
            @reloadModel={{action 'reloadModel'}}
          />
        {{/if}}

        {{#if (eq modelName 'category')}}
          <Entity::Category::ListInSettings
            @model={{model}}
            @reloadModel={{action 'reloadModel'}}
          />
        {{/if}}

        <div style="visibility:collapse;">
          {{#if model}}
            <InfinityLoader @infinityModel={{model}}/>
          {{/if}}
        </div>

        {{#unless isInfinityReached}}
          <div class="preloader {{if (eq model.length 0) 'preloader_full' ''}}">
            <img class="spinner" src="/assets/images/spinner.gif">
          </div>
        {{/unless}}

        {{#if (and isInfinityReached (eq model.length 0))}}
          <Utils::EmptyList/>
        {{/if}}
      </div>
    </div>
  </div>
</div>
