<div class="user-settings">
  <div class="section-name">Личные данные</div>
  <div class="section">
    <div class="input-container">
      <div class="label">Name</div>
      <Input class="settings-input"
          type="text"
          placeholder="Name"
          @value={{user.name}}
      />
    </div>

    <div class="input-container">
      <div class="label">Email</div>
      <Input class="settings-input"
          type="text"
          placeholder="Email"
          @value={{user.email}}
      />
    </div>

    <button type="button" class="btn btn-small btn-primary btn-complete" onclick={{action onSavePersonalData}}>
      Save
    </button>
  </div>

  <div class="section-name">Sending settings</div>
  <div class="section">
    Time zone:
  </div>

  <div class="section-name">Password change</div>
  <div class="section">

    <div class="input-container">
      <div class="label">Current password</div>
      <Input class="settings-input"
          type="password"
          @value={{password.currentPass}}
      />
    </div>

    <div class="input-container">
      <div class="label">New password</div>
      <Input class="settings-input"
          type="password"
          @value={{password.newPass}}
      />
    </div>

    <div class="input-container">
      <div class="label">Repeate new password</div>
      <Input class="settings-input"
          type="password"
          @value={{password.newPassRepeate}}
      />
      {{#unless (eq password.newPass password.newPassRepeate)}}
        <div style="padding-bottom: 20px; color:red;">Passwords are differrent</div>
      {{/unless}}
    </div>

    <button type="button" class="btn btn-small btn-primary btn-complete" onclick={{action changePassword}}>
      Change
    </button>
  </div>

  <div class="section-name">Active sessions</div>
  <div class="section">
    <Entity::Session::List @model={{this.sessions}}/>
  </div>


  <button type="button" class="btn btn-small btn-danger" onclick={{action deleteAccount}}>
    Delete account
  </button>
</div>


{{#if isShowDeleteModal}}
  <Entity::User::Delete
    @model={{user}}
    @onCancel={{action onCancel}}
    @onDelete={{action onCompleteDeleAccount}}
  />
{{/if}}
