<div class="form-group d-flex justify-content-center table-responsive">
  <table class="rwd-table">
    <tr>
      <th>#</th>
      <th>Статус</th>
      <th>Название</th>
      <th>День выполнения</th>
      <th>Время выполнения</th>
      <th>Периодичность</th>
      <th></th>
    </tr>
    {{#each @model as | item|}}
    <tr {{action onShowPreview item}}>
      <th data-th="# ">{{item.id}}</th>
      <td data-th="Статус: "><Utils::StatusColored @status={{item.status}} /></td>
      <td data-th="Название: ">{{item.name}}</td>
      <td data-th="День выполнения: "><Utils::FromTimestamp @type='date' @timestamp={{item.date}} /></td>
      <td data-th="Время выполнения: "><Utils::FromTimestamp @type='time' @timestamp={{item.time}} /></td>
      <td data-th="Периодичность: ">{{get PERIODIC item.periodic}}</td>
      <td data-th="">
        <div class="buttons-bar">
          {{#if (eq item.status "1")}}
            <div class="btn btn-outline-warning" {{action 'onChangeStatus' item}}>{{fa-icon "bell-slash"}} отключить</div>
          {{else}}
            <div class="btn btn-outline-success" {{action 'onChangeStatus' item}}>{{fa-icon "bell"}} активировать</div>
          {{/if}}
          <div class="btn btn-outline-danger" {{action 'onDeleteWindow' item}}>{{fa-icon "trash"}} удалить</div>
        </div>
      </td>
    </tr>
    {{/each}}
  </table>
</div>


{{#if isShowingModal}}
  {{#modal-dialog 
        translucentOverlay=true}}
        <div class="header">Удалить уведомление #{{itemForDelete.id}}?</div>
        <div class="body">
          <table>
            <tr>
              <td>Название:</td>
              <td>{{itemForDelete.name}}</td>
            </tr>
            <tr>
              <td>Периодичность:</td>
              <td>{{get PERIODIC itemForDelete.periodic}}</td>
            </tr>
            <tr>
              <td>День выполнения:</td>
              <td><Utils::FromTimestamp @type='date' @timestamp={{itemForDelete.date}} /></td>
            </tr>
            <tr>
              <td>Время выполнения:</td>
              <td><Utils::FromTimestamp @type='time' @timestamp={{itemForDelete.time}} /></td>
            </tr>
          </table>
        </div>
        <div class="buttons-bar">
          <div class="btn btn-outline-secondary" {{action 'onClose'}}>Отмена</div>
          <div class="btn btn-outline-danger" {{action 'onDelete'}}>Подтвердить</div>
        </div>
  {{/modal-dialog}}
{{/if}}

{{#if isDetail}}
  <Show @model={{previewNotify}} @onClose={{action 'onClosePreview'}} />
{{/if}}