<div class="form-group d-flex justify-content-center table-responsive">
  <table class="rwd-table">
    <tr>
      <th>#</th>
      <th>Статус</th>
      <th>Периодичность</th>
      <th>Название</th>
      <th>День выполнения</th>
      <th>Время выполнения</th>
      <th></th>
    </tr>
    {{#each @model as | item|}}
    <tr>
      <th data-th="# ">{{item.id}}</th>
      <td data-th="Статус: ">{{item.status}}</td>
      <td data-th="Периодичность: ">{{item.periodic}}</td>
      <td data-th="Название: ">{{item.name}}</td>
      <td data-th="День выполнения: ">{{item.date}}</td>
      <td data-th="Время выполнения: ">{{item.time}}</td>
      <td data-th="">отключить|включить удалить</td>
    </tr>
    {{/each}}
  </table>
</div>