<form class="custom-form">
  <div class="list-container">
    <h1 class="header-text">Список получателей</h1>

    <div class="d-flex justify-content-between custom-form">
      <div class="btn-outline-orange btn">
        {{fa-icon "filter"}} Фильтр
      </div>

      <LinkTo @route="manage.acceptors.new" class="btn-outline-orange btn">
        {{fa-icon "plus"}} Доавить
      </LinkTo>
    </div>

    {{#if @model.data}}
      <Acceptors::List @model={{model.data}}
        @onEdit={{route-action 'onEdit'}}
      />
    {{/if}}

  </div>
</form>

<div style="visibility:collapse;">
  {{#if @model.data}}
    <InfinityLoader @infinityModel={{@model.data}}/>
  {{/if}}
</div>

{{#unless isInfinityReached}}
  <div class="preloader">
    <img class="spinner" src="/assets/images/spinner.gif">
  </div>
{{/unless}}

{{outlet}}
