<div class="position-list-wrapper">
  <div class="position-list"style={{style}}>
    <div class="user-position" style={{style}}>
      <div class="position positionId_0 selected" {{action 'onSelect' 'user'}}>Аккаунт</div>
      <div class="position positionId_1" {{action 'onSelect' 'acceptor'}}>Получатели</div>
      <div class="position positionId_2" {{action 'onSelect' 'category'}}>Категории</div>
    </div>
  </div>
</div>
