<div class="auth-form-container">
  <div class="auth-container auth-container-login">
      <div class="login-header">
        <span class="auth-form-title p-b-34 p-t-27">
          Log in
        </span>
      </div>

      <form class="auth-form validate-form">

        <div class="wrap-input-auth validate-input" data-validate="Enter email">
          <Input class="auth-input input-autofill-transpanent"
                 type="text"
                 name="email"
                 placeholder="Email"
                 onclick={{action onStartEdit "email"}}
                 onblur={{action deselect}}
                 @value={{email}}
          />
          <span class="focus-input-auth {{if emailSelected 'has-val'}}" data-placeholder="&#xf15a;"></span>
        </div>

        <div class="wrap-input-auth validate-input" data-validate="Enter password">
          <Input class="auth-input input-autofill-transpanent"
                 type="password"
                 name="pass"
                 placeholder="Password"
                 onclick={{action onStartEdit "password"}}
                 onblur={{action deselect}}
                 @value={{password}}
          />
          <span class="focus-input-auth {{if passwordSelected 'has-val'}}" data-placeholder="&#xf191;"></span>
        </div>

        <div class="container-auth-form-btn">
          <button class="login-auth-form-btn auth-form-btn login"
            {{action onSubmit}}
          >
            Login
          </button>
        </div>

        <div class="text-center sign-up">
          <LinkTo @route="auth.signup" class="btn auth-sign-up-link">
            Создать новый аккаунт
          </LinkTo>
        </div>
        <div class="text-center ">
          <LinkTo @route="auth.restore" class="btn auth-sign-up-link">
            Забыли пароль?
          </LinkTo>
        </div>

      </form>
  </div>
</div>