<div class="position-list-wrapper">
  <div class="position-list">
    <div class="without-position positionId_0 selected" {{action 'onSelect'}}>Без категории</div>
    <div class="user-position" style={{style}}>
      {{#each @model as | item|}}
        {{#unless item.isHidden}}
          <div class="position positionId_{{item.id}}" {{action 'onSelect' item}}>{{item.name}}</div>
        {{/unless}}
      {{/each}}
    </div>
  </div>
  <div class="position-add" {{action onAdd}}>
    <div class="button">+ добавить</div>
  </div>
</div>

{{#if isShowAddModal}}
  <Entity::Category::Edit
    @onCancel={{action onCancel}}
    @model={{this.newCategoryModel}}
    @onComplete={{action onComplete}}
  />
{{/if}}
