{{#modal-dialog translucentOverlay=true}}
  <div class="header">Удалить уведомление #{{@notify.id}}?</div>
  <div class="body">
    <table>
      <tr>
        <td>Название:</td>
        <td>{{@notify.name}}</td>
      </tr>
      <tr>
        <td>Периодичность:</td>
        <td>{{get PERIODIC @notify.periodic}}</td>
      </tr>
      <tr>
        <td>День выполнения:</td>
        <td><Utils::FromGmt @type="date" @date={{@notify.date}} @time={{@notify.time}} /></td>
      </tr>
      <tr>
        <td>Время выполнения:</td>
        <td><Utils::FromGmt @type="time "@date={{@notify.date}} @time={{@notify.time}} /></td>
      </tr>
    </table>
  </div>
  <div class="buttons-bar">
    <div class="btn btn-outline-secondary" {{action this.args.onClose}}>Отмена</div>
    <div class="btn btn-outline-danger" {{action 'onDelete'}}>Подтвердить</div>
  </div>
{{/modal-dialog}}
